
  .card {
       display: flex;
       flex-direction: column;
       list-style: none;
       border-radius: 10px;
       overflow: hidden;
   }
   
   .card__image {
       max-width: 282px;
       height: 282px;
       list-style: none;
       object-fit: cover;
   }
   
   .card__description {
       display: flex;
       background-color: white;
       color: black;
       padding-top: 25px;
       padding-bottom: 25px;
       padding-left: 20px;
       padding-right: 20px;
       align-items: center;
       justify-content: space-between;
   }
   
   .card__like-button {
       background: url(../images/likebutton.svg);
       width: 21px;
       height: 18px;
       border: none;
       cursor: pointer;
   }

   .card__like-button:hover {
    opacity: 0.5;
    }

   .card__title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 220px;
   }

   @media screen and (max-width: 480px) {
    .card {
     background-position: center;
    }
}