.footer {
    color: #545454;
    margin-top: 60px;
    margin-bottom: 50px;
}

.footer__copyright {
    margin-top: 0;
    margin-bottom: 0;
    color: #545454;
    line-height: 21.76px;
    font-size: 18px;
}

@media screen and (max-width: 480px) {

   .footer{
    margin-top: 2762px;
    margin-left: 19px;
   }
    .footer__copyright {
        line-height: 16.94px;
        font-size: 14px;
    }


}