.header {
    padding: 45px 0 41px;
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(84 84 84 / .7);
}

@media screen and (max-width: 480px) {
   .header__logo {
    height: 120px; 
    width: 120px;
    margin-top: 126px;
    margin-left: 101px;
   }
}