.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    padding: 0 19px;

}

.modal_opened {
    display: flex;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 18px;
}

.modal__close {
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 40px;
    width: 40px;

}
