.modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    padding: 0 19px;

}

.modal_opened {
    display: flex;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    width: 430px;
    height: 330px;
    border-radius: 18px;
}

.modal__close {
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -45px;
    right: -45px;
    height: 40px;
    width: 40px;
}

.modal__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: black;
    margin: 0;
}

.modal__input {
width: 100%;
margin-bottom: 10px;
height: 27px;
margin-top: 40px;
border: 0;
border-bottom: 1px solid lightgray;
font-weight: 400;
font-size: 14px;
}

.modal__button {
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    margin-top: 70px;
}

@media screen and (max-width: 480px) {
    .modal__title {
        font-size: 18px;
    }

    .modal__button {
        font-size: 14px;
    }

    }